@font-face {
    font-family: 'SuaFonte';
    src: url('../font/default-bold.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background: url('../imagens/fundo.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'SuaFonte', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.content {
    margin-left: 50px;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'SuaFonte', Arial, sans-serif;
}

p {
    font-size: 1.2em;
    margin: 10px 0 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

/* Estilo do botão */
button {
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'SuaFonte', sans-serif; /* Aplicando a fonte personalizada */
    background-color: #008CBA; /* Cor de fundo original */
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza a transição */
}

button:hover {
    background-color: #008CBA; /* Mantém a cor de fundo ao passar o mouse */
    box-shadow: 0 0 15px 5px rgba(0, 140, 186, 0.8); /* Efeito neon */
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}

/* Estilo específico para o botão "Downloads" */
#downloadsBtn {
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'SuaFonte', sans-serif;
    background-color: #ff5733; /* Cor diferente para o botão "Downloads" */
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#downloadsBtn:hover {
    background-color: #e84c2e; /* Cor ao passar o mouse no botão "Downloads" */
    box-shadow: 0 0 15px 5px rgba(255, 87, 51, 0.8); /* Efeito neon no botão "Downloads" */
    transform: scale(1.1);
}

/* Estilos do pop-up */
.popup {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgba(255, 255, 255, 0.336);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    color: rgb(54, 53, 53);
}

/* Estilo da sobreposição */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
    z-index: 1000; /* A sobreposição deve ficar abaixo do pop-up */
    display: none; /* Inicialmente escondido */
}

/* Estilo do ícone de interrogação */
.help-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #008CBA;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo do mini pop-up */
.help-popup {
    position: absolute;
    bottom: 40px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo do pop-up */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 200px;
    display: none; /* Inicialmente escondido */
    z-index: 1002; /* Garante que o mini pop-up fique acima do pop-up */
}

/* Estilo do mini pop-up quando visível */
.help-icon:hover + .help-popup {
    display: block; /* Exibe o mini pop-up ao passar o mouse */
}

.popup-btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    font-family: 'SuaFonte', sans-serif;
    background-color: #008CBA;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
}

.popup-btn:hover {
    background-color: #005f7f;
    box-shadow: 0 0 15px 5px rgba(0, 140, 186, 0.8);
    transform: scale(1.1);
}

/* Estilo do botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Novo estilo para o título "Escolha a versão do app:" */
.popup h2 {
    color: rgb(255, 255, 255); /* Definindo a cor branca */
}

.image-or-video {
    margin-right: 50px;
}

video {
    border-radius: 10px;
}

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw; /* O vídeo ocupará 50% da largura da tela */
    height: 100vh; /* O vídeo ocupará 100% da altura da tela */
    overflow: hidden;
    z-index: -1; /* Colocar o vídeo atrás do texto */
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
    /* Gradiente que começa com preto forte do lado direito e vai se desvanecendo */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7); /* Escurece um pouco o vídeo */
}

/* Foto que fica no canto inferior esquerdo*/

.footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    z-index: 999;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Ajuste o valor conforme necessário */
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    margin-right: 10px;
}

.profile-link {
    text-decoration: none; /* Remove o sublinhado do link */
    color: white; /* Cor do texto */
    transition: transform 0.3s ease; /* Suaviza o efeito de zoom */
}

.profile-link:hover {
    transform: scale(1.1); /* Efeito de zoom leve */
}

.profile p {
    margin: 0;
    font-size: 14px;
}

